---
import Default from "@layouts/default.astro"

---

<Default>
    <div class="grid place-items-center w-screen h-screen select-none root">
        <img style="image-rendering: pixelated;" width="400" src="/assets/nyan/nyan.webp"/>
        <audio src="https://www.nyan.cat/music/original.ogg" autoplay loop></audio>
    </div>
</Default>

<style>
    .root {
        background-color: #003366;
    }
</style>