<div class="fixed hidden lg:block z-10 w-full bg-gray-900 mb-8 text-white">
    <div
        class="w-full h-16 grid grid-cols-12 justify-items-center items-center"
    >
        <div class="h-16 p-3 mr-12 col-span-3">
            <a href="/" rel="prefetch">
                <img
                    class="h-full object-contain"
                    alt="logo"
                    src="/logo/logo2020.png"
                />
            </a>
        </div>
        <div class="h-full flex space-x-12 col-span-6">
            <a
                href="/"
                class="grid place-items-center text-white lg:text-lg text-xl bg-gray-800 px-2"
                rel="prefetch"
            >
                Home
            </a>
            <a
                href="/projects"
                class="grid place-items-center text-white lg:text-lg text-xl bg-gray-800 px-2"
                rel="prefetch"
            >
                Projects
            </a>
        </div>
        <div class="col-span-3 flex flex-row items-center space-x-3"></div>
    </div>
    <div class="bg-gradient-to-r from-muse via-treelar to-treelar h-1"></div>
</div>
<div class="lg:h-8"></div>
