---
import "web-streams-polyfill/es2018";

import TopNav from "@components/TopNav.astro";
import BottomNav from "@components/BottomNav.svelte"
import Footer from "@components/Footer.astro";
import IdolConfetti from "@components/IdolConfetti.svelte";
import "../base.css"

import {LL} from "src/pages/idol"

await LL.setup()
const currentBirthdayIdol = await LL.getBirthdayIdol()
---

<html lang="en">
    <head>
        <title>Treelar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="text-white bg-gray-900">
        <div class="min-h-screen overflow-x-hidden">
            {
                currentBirthdayIdol ?
                <IdolConfetti colors={[currentBirthdayIdol.color]} client:idle></IdolConfetti> : null
            }
            <!-- <TopNav/> -->
            <slot></slot>
            <BottomNav client:idle></BottomNav>
            <Footer/>
        </div>
    </body>
</html>
