---
import TopNav from "@components/TopNav.astro";
import "../base.css"
---

<html>
    <head>
        <title>Treelar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <div class="min-h-screen overflow-x-hidden text-white bg-gray-900">
        <TopNav/>
        <slot></slot>
    </div>
</html>