---
import TopNav from "@components/TopNav.astro";
import BottomNav from "@components/BottomNav"
import "../base.css"
import Footer from "@components/Footer.astro";
---

<html lang="en">
    <head>
        <title>Treelar</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class="text-white bg-gray-900">
        <div class="min-h-screen overflow-x-hidden">
            <TopNav/>
            <slot></slot>
            <BottomNav client:media="(max-width: 1024px)"></BottomNav>
            <Footer/>
        </div>
    </body>
</html>
