---
import BottomNav from "@components/BottomNav.svelte"
import Footer from "@components/Footer.svelte";
import IdolConfetti from "@components/IdolConfetti.svelte";
import "../base.css"

import {LL} from "src/pages/idol"
import Default from "./default.astro";

await LL.setup()
const currentBirthdayIdol = await LL.getBirthdayIdol()
const {pathname} = Astro.url
---
<Default>
    <div class="min-h-screen overflow-x-hidden">
        {
            currentBirthdayIdol ?
            <IdolConfetti colors={[currentBirthdayIdol.color]} client:idle></IdolConfetti> : null
        }
        <!-- <TopNav/> -->
        <slot></slot>
        <BottomNav client:idle></BottomNav>
        <Footer pathname={pathname}></Footer>
    </div>
</Default>
